body {
    background-color: aquamarine;

}

h1 {
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.like {
    color: red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

#p5_canvas_container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}